fastapi
uvicorn
python-multipart
python-dotenv
openai
groq
google-generativeai
chromadb
motor
pymongo
pydantic
pydantic-settings
pdfplumber
pypdfium2
aiohttp
boto3
aiobotocore
cryptography
bcrypt
PyJWT